.footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 5px solid #999;
    background-color: #f3f5f6;
}

.social-icon .fa-facebook { color: #3C599F; }
.social-icon .fa-twitter { color: #32CCFE; }
.social-icon .fa-instagram { color: #A1755C; }
.social-icon .fa-youtube { color: #C52F30; }
